@import "tailwindcss";

:root {
  --color-bg: 255 255 255;       /* білий */
  --color-text: 17 24 39;        /* gray-900 */
  --color-primary: 59 130 246;   /* blue-500 */
  --color-secondary: 240 245 250;
}

.dark {
  --color-bg: 17 24 39;          /* gray-900 */
  --color-text: 255 255 255;     /* білий */
  --color-primary: 0 0 0;
  --color-secondary: 50 50 50;
}

@layer utilities {
  .bg-theme {
    background-color: rgb(var(--color-bg));
  }

  .text-theme {
    color: rgb(var(--color-text));
  }

  .text-primary {
    color: rgb(var(--color-text));
  }

  .bg-primary {
    background-color: rgb(var(--color-primary));
  }

  .bg-secondary {
    background-color: rgb(var(--color-secondary));
  }
}